<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/AdminHome"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item dropdown rounded">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" ><i class="bi bi-person-fill me-2" style="font-size: 1.2rem" ></i></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/PerfilHotel">Ver Perfil</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
          </ul>
        </li>
      </ul>
      <hr>
    </div>
  </div>

</nav>
<hr>

<body>
  <div class="container">
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img class="imgR" src="/assets/reservacion.png">
                  <h3>Reservaciones</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>En esta apartado usted podrá ver todas las reseravaciones que sen han hecho en su hotel</p>
                      <a href="/Reservacion">Ver más</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img class="imgR" src="/assets/user.png">
                  <h3>Buscar Usuario</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Usted podrá ver todos los usuarios que estan hospedados o buscar a un usuario en especifico</p>
                      <a href="buscarUsuario">Ver más</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img class="imgR" src="/assets/cama.png">
                  <h3>Habitaciones</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Usted podrá ver todos las habitaciones que estan disponibles y las habitaciones que estan agotas</p>
                      <a href="/habitacionesDisponibles">Ver más</a>
              </div>
          </div>
      </div>
  </div>
</body>
